{% extends 'clinic/base.html' %}
{% load static %}

{% block title %}О нас - Стоматология "Эстерио"{% endblock %}

{% block content %}
<section class="about-detail">
    <div class="container">
        <h1>О нашей клинике</h1>
        <div class="about-full">
            <div class="clinic-image">
                <img src="{% static 'images/clinic-inside.jpg' %}" alt="Интерьер клиники">
            </div>
            <div class="clinic-info">
                <h2>Стоматология "Эстерио" - мы заботимся о вашей улыбке</h2>
                <p>Наша клиника основана вот сейчас с целью предоставления качественных стоматологических услуг по доступным ценам. За годы работы мы помогли тысячам пациентов обрести здоровую и красивую улыбку.</p>
                
                <h3>Наши преимущества:</h3>
                <ul>
                    <li>Современное оборудование европейского качества</li>
                    <li>Опытные врачи с высшей категорией</li>
                    <li>Индивидуальный подход к каждому пациенту</li>
                    <li>Гарантия на все виды лечения</li>
                    <li>Удобное расположение в центре города</li>
                </ul>
                
                <h3>Предоставляемые услуги:</h3>
                <div class="services-list">
                    <div class="service-item">
                        <h4>Терапевтическая стоматология</h4>
                        <p>Лечение кариеса, пульпита, периодонтита, реставрация зубов</p>
                    </div>
                    <div class="service-item">
                        <h4>Ортопедическая стоматология</h4>
                        <p>Протезирование зубов: коронки, мосты, виниры, бюгельные протезы</p>
                    </div>
                    <div class="service-item">
                        <h4>Хирургия и имплантация</h4>
                        <p>Удаление зубов, установка имплантов, костная пластика</p>
                    </div>
                    <div class="service-item">
                        <h4>Детская стоматология</h4>
                        <p>Лечение молочных и постоянных зубов у детей, профилактика</p>
                    </div>
                    <div class="service-item">
                        <h4>Отбеливание зубов</h4>
                        <p>Профессиональное отбеливание системой Zoom 4, домашнее отбеливание</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}